{% extends 'base.html' %}

{% block content %}


    <h1><a href="{% url 'song:song-search' %}">노래 검색</a></h1>
    <form action="" method="GET">
        {#        {% csrf_token %}#}
        <div class="form-group">
            <label for="search">음악 입력</label>
            <input id="search" type="text" name="keyword" type="text" class="form-control" placeholder="song search"
            value="{{ request.GET.keyword }}">
        </div>

        <button type="submit" class="btn btn-primary">음악 검색</button>
    </form>



    {#    1) 2/19 수업 #}
    {#    {% if songs %} #}{# -> 템플릿에서 없어도 되서 오류가 나지 않음. #}
    {#        <ul>#}
    {#            {% for song in songs %}#}
    {#                <li>{{ song.title }}</li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    {% endif %}#}


    {#    2) 2/20 과제 #}
    {#    <ul>#}
    {#        {% if songs_from_artists %} <h3>아티스트로 검색한 노래 결과</h3> {% endif %}#}
    {#        {% for song in songs_from_artists %}#}
    {#            <li>{{ song.title }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {#    <br>#}
    {#    <ul>#}
    {#        {% if songs_from_albums %} <h3>앨범으로 검색한 노래 결과</h3> {% endif %}#}
    {#        {% for song in songs_from_albums %}#}
    {#            <li>{{ song.title }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {#    <br>#}
    {#    <ul>#}
    {#        {% if songs_from_title %} <h3>제목으로 검색한 노래 결과</h3> {% endif %}#}
    {#        {% for song in songs_from_title %}#}
    {#            <li>{{ song.title }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {#    <br>#}


{#    3) 2/20 수업 include 실습, 세번사용하기 #}
{#    {% include "include/song_search_result.html" with type='아티스트명' songs=songs_from_artists only %}#}
{#    {% include "include/song_search_result.html" with type='앨범명' songs=songs_from_albums only %}#}
{#    {% include "include/song_search_result.html" with type='노래제목' songs=songs_from_title only %}#}


{#    4) 2/20 #}
{#    for문을 순회하면서 include태그를 순회문 안에서 1번만 사용해서 3개를 출력할 수 있도록 #}
{#    vies.py의 내용을 수정 #}

{#        list로 시도하다 리스트 템플릿언어 몰라서 실패 #}
{#        {% include "include/song_search_result.html" with type=item.0 songs=item.1 only %}#}

    {% for song_info in song_infos %}
        {% include "include/song_search_result.html" with types=song_info.types songs=song_info.songs only %}

    {%  endfor %}

{% endblock %}