{% extends 'base.html' %}

{% block content %}

    <h1><a href="{% url 'song:song-search-from-melon' %}">멜론에서 노래 검색</a></h1>
    <form action="" method="GET">
        <div class="form-group">
            <input type="text" name="keyword" class="form-group", value="{{ request.GET.keyword }}">
        </div>
        <button type="submit" class="btn btn-primary">음악 검색</button>
    </form>


    <ul>
        {% for song in result %}
            <br>
            {{ song.song_id }}<br>
            {{ song.title }}<br>
            {{ song.artist }}<br>
            {{ song.album }}<br>
{#            {{ song.album_id }}<br>#}
            <br>
                <form action="{% url 'song:song-add-from-melon' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="song_id" value="{{ song.song_id }}">
                    <button type="submit" class="btn btn-primary">DB 저장</button>
                </form>
        {% endfor %}
    </ul>

{%  endblock %}
