{% extends 'base.html' %}

{% block content %}


    <h1><a href="{% url 'artist:artist-search-from-melon' %}">멜론에서 아티스트 검색</a></h1>
    <form action="" method="GET">
        {#        {% csrf_token %}#}
        <div class="form-group">
            <input type="text" name="keyword" class="form-control" value="{{ request.GET.keyword }}">
        </div>
        <button type="submit" class="btn btn-primary">아티스트 검색</button>
    </form>


    <ul>
        {% for artist_info in artist_info_list %}
            <li>
                <img src="{{ artist_info.url_img_cover }}" alt="">
                <span>{{ artist_info.artist_id }} | {{ artist_info.name }}</span>

                <form action="{% url 'artist:artist-add-from-melon' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="artist_id" value="{{ artist_info.artist_id }}">
                    <button type="submit" class="btn btn-primary">DB 저장</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}